.product-card {
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    text-align: center;
    display: flex;
    background-color:white ;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-title {
    font-size: 1.5em;
  }
  
  .product-description {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 1.2em;
    color: green;
  }
  
  .product-category,
  .product-rating {
    font-size: 0.9em;
    color: #555;
  }
  
  .add-to-cart-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  .left-sidebar {
    float: left;
  }
  .right-sidebar {
    float: right;
  }